body {
    font-family: 'Arial', sans-serif;
    transition: background-color 0.5s ease;
}

.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.card {
    max-width: 400px;
    margin: auto;
    border-radius: 20px;
    background-color: #ffffff;
}

.dark-mode .card {
    background-color: #333;
    color: #e0e0e0;
}

.card:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

.card-body {
    text-align: center;
}

#weather-icon {
    width: 120px;
    margin: 20px auto;
}

button {
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.sunny,
.clear {
    background-color: #f9d71c;
}

.cloudy,
.overcast {
    background-color: #90a4ae;
}

.foggy {
    background-color: #b0bec5;
}

.rainy {
    background-color: #4fc3f7;
}

.thunderstorm {
    background-color: #616161;
}

.snowy {
    background-color: #e0f7fa;
}

.sleety {
    background-color: #a0a0a0;
}

.hail {
    background-color: #cfd8dc;
}

.default-weather {
    background-color: #607d8b;
}

.dark-mode .sunny {
    background-color: #f5990ee5;
}

.dark-mode .cloudy {
    background-color: #455a64;
}

.dark-mode .foggy {
    background-color: #37474f;
}

.dark-mode .rainy {
    background-color: #0278bdc0;
}

.dark-mode .thunderstorm {
    background-color: #212121;
}

.dark-mode .snowy {
    background-color: #546e7ac7;
}

.dark-mode .sleety {
    background-color: #616161a9;
}

.dark-mode .hail {
    background-color: #455a64;
}

.dark-mode .default-weather {
    background-color: #37474f;
}

h1,
h3,
p {
    margin-bottom: 10px;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode p {
    color: #f0f0f0;
    font-weight: bold;
}

.lead {
    font-size: 1.5rem;
}

.fs-4 {
    font-size: 1.25rem;
}

.fw-bold {
    font-weight: 600;
}

.dark-mode .btn-outline-primary {
    color: #ffffff;
    border-color: #bbbbbb;
}

.dark-mode .btn-outline-primary:hover {
    background-color: #bbbbbb;
    color: #121212;
    border-color: #bbbbbb;
}

.site-header {
    background-color: #f0f0f0;
    color: #000;
    position: relative;
    z-index: 100;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.dark-mode .site-header {
    background-color: #1e1e1e;
    color: #f0f0f0;
}

.site-title {
    font-weight: bold;
    margin: 0;
}

.weather-card {
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container.weather-container {
    margin-top: 3rem;
}